#DATA SCINCE ECOSISTEM

##In this notebook, Data Science Tools and Ecosystem are summarized:
1. Python. 
2. R. 
3. SQL.

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|JupiterLab|
|VS Code|

#Objetives of this Notebook:
**Create one Jupyter Notebook.** 
** Insert code and markdowns cells.** 
**Share you notbooks through GitHub.**
**Languges more use for Data Science.**
**Aritmetical problems.**

In [5]:
### Below are a few examples of evaluating arithmetic expressions in Python
(3*4)+5

17

In [7]:
a=200
b=60
c=(200/60)
print(c)
#this will cover 200 minuts to hours by dividing by 60.

3.3333333333333335

## Author 
## Aldo Lara